# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
Thumbs.db

node_modules
dist
dist-ssr
*.local

# dependencies
node_modules/
# build output
dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.gemini/
gha-creds-*.json
AGENTS.md
README.md
sample_portfolio.png
